@import './_bootstrap.scss';

body {
  background-color: black;
}

.box {
  background: black;
  text-align: center;
  margin-top: 40vh;
  color: #B7D051;
  opacity: 0;

  @extend .col-md-12;

  .loader {
    opacity: 0;
    margin: 0 auto;
    background-color: #B7D051;
    height: 2px;
    width: 0%;
  }
}